{% extends "base.html" %}

{% block title %}

Neue Lizenz

{% endblock %}

{% block content %}

<div class="card shadow">

<div class="card-header bg-success text-white">

<h3>

Neue Lizenz erstellen

</h3>

</div>

<div class="card-body">

<form>

<div class="mb-3">

<label>Kunde</label>

<select
class="form-select">

{% for customer in customers %}

<option>

{{ customer.company }}

</option>

{% endfor %}

</select>

</div>

<div class="mb-3">

<label>Produkt</label>

<select
class="form-select">

{% for product in products %}

<option>

{{ product.name }}
{{ product.edition }}

</option>

{% endfor %}

</select>

</div>

<div class="mb-3">

<label>Laufzeit</label>

<select
class="form-select">

<option>1 Monat</option>

<option>6 Monate</option>

<option>12 Monate</option>

<option>24 Monate</option>

<option>Unbegrenzt</option>

</select>

</div>

<div class="mb-3">

<label>Maximale Benutzer</label>

<input
type="number"
class="form-control"
value="10">

</div>

<hr>

<button
class="btn btn-success">

Lizenz erstellen

</button>

</form>

</div>

</div>

{% endblock %}
