<div class="list-group shadow-sm">

    <a href="/dashboard" class="list-group-item list-group-item-action">
        🏠 Dashboard
    </a>

    <a href="/customers" class="list-group-item list-group-item-action">
        👥 Kunden
    </a>

    <a href="/products" class="list-group-item list-group-item-action">
        📦 Produkte
     </a>

    <a href="/licenses" class="list-group-item list-group-item-action">
        🔑 Lizenzen
     </a>

    <a href="/invoices" class="list-group-item list-group-item-action">
        🧾 Rechnungen
     </a>

    {% if session.get("role") == "founder" %}
    <a href="/users" class="list-group-item list-group-item-action">
        👤 Benutzer
    </a>
    {% endif %}

    <a href="/change-password" class="list-group-item list-group-item-action">
        🔒 Passwort ändern
    </a>

    <a href="/logout" class="list-group-item list-group-item-action text-danger">
        🚪 Logout
    </a>

</div>
